data/art/*.bin filter=lfs diff=lfs merge=lfs -text
data/canopy/*.bin filter=lfs diff=lfs merge=lfs -text
data/ferries/*.bin filter=lfs diff=lfs merge=lfs -text
data/ferries/*.zip filter=lfs diff=lfs merge=lfs -text
data/highways/*.bin filter=lfs diff=lfs merge=lfs -text
data/land/*.bin filter=lfs diff=lfs merge=lfs -text
data/landmarks/*.bin filter=lfs diff=lfs merge=lfs -text
data/paths/*.bin filter=lfs diff=lfs merge=lfs -text
data/streets/*.bin filter=lfs diff=lfs merge=lfs -text
data/trees/*.bin filter=lfs diff=lfs merge=lfs -text
